<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2025 Mobile Byte Sensei

    This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
    If a copy of the MPL was not distributed with this file,
    You can obtain one at https://mozilla.org/MPL/2.0/.

    See https://github.com/mobilebytesensei/financiera-bienestar/blob/dev/LICENSE
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!--
            AndroidX Startup automatic initialization for ClipboardMonitorFactory.
            
            This provider automatically initializes the clipboard manager when your app starts,
            eliminating the need for manual initialization.
            
            To disable automatic initialization, add this to your app's AndroidManifest.xml:
            
            <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                tools:node="remove" />
        -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.niyajali.clipboard.manager.ClipboardInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
